* {
	 margin: 0;
	 padding: 0;
	 color: white;
	 box-sizing: border-box;
	 font-family: verdana;
	 overflow-x: hidden;
}
 body {
	 background: black;
}
 a:link, a:active, a:visited {
	 text-decoration: none;
	 color: white;
}
 h1 {
	 text-align: center;
	 text-transform: uppercase;
	 letter-spacing: 10px;
	 margin-bottom: 10px;
}
 .flex {
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .back {
	 background-attachment: fixed;
	 background-position: center;
	 background-size: cover;
	 background-repeat: no-repeat;
}
 .off-menu {
	 position: absolute;
	 top: 0;
	 transition: 0.5s;
	 width: 40%;
	 z-index: 1;
	 height: 100vh;
	 background: #000;
	 flex-direction: column;
	 border: 1px solid white;
}
 .off-menu h1 {
	 font-size: 3rem;
	 width: 100%;
	 padding: 10px;
	 border-bottom: 1px solid white;
}
 .off-menu .nav-vertical {
	 flex-grow: 1;
	 flex-direction: column;
}
 .off-menu .nav-vertical li {
	 flex-grow: 1;
	 font-size: 1.75rem;
}
 .off-menu .nav-vertical li a {
	 color: gray;
	 cursor: pointer;
	 transition: 0.5s;
}
 .off-menu .nav-vertical li a:hover {
	 color: white;
	 text-decoration: underline;
}
 .off-menu .nav-vertical .spacer {
	 flex-grow: 4;
}
 .section {
	 background-image: linear-gradient(transparent 50%, #212422 85%), linear-gradient(transparent 60%, #212422 90%), linear-gradient(transparent 70%, #212422 95%), url('//picsum.photos/1920/1080');
	 background-attachment: initial !important;
	 background-color: #8d9990;
	 background-blend-mode: multiply;
	 color: white;
	 flex-direction: column;
	 height: 100dvh;
	 font-size: 1.5rem;
}
 .section nav {
	 background: #000 99;
	 backdrop-filter: blur(10px);
	 width: 100%;
	 justify-content: space-between;
}
 .section nav .logo {
	 background: url('//unsplash.it/200/75');
	 height: 75px;
	 width: 200px;
	 opacity: 0.65;
}
 .section nav .ham-menu {
	 display: none;
	 height: 100%;
	 width: 100px;
	 border: 0;
	 background-color: transparent;
}
 .section nav .nav-content {
	 height: 100%;
}
 .section nav .nav-content li {
	 height: 100%;
	 list-style: none;
	 padding: 0 25px;
	 color: black;
}
 .section nav .nav-content li a {
	 height: 100%;
	 cursor: pointer;
	 font-weight: 600;
}
 .section .main-content {
	 flex-direction: column;
	 flex-grow: 1;
	 width: 100%;
}
 .section .main-content p {
	 width: 90%;
	 margin-bottom: 50px;
	 text-align: center;
}
 .section .main-content .btn {
	 margin-bottom: 50px;
	 width: 250px;
	 height: 75px;
	 padding: 5px;
	 background: transparent;
	 text-transform: uppercase;
	 border: 2px solid white;
	 font-size: 2rem;
	 transition: 0.5s;
	 font-weight: 1000;
}
 .section .main-content .btn:hover {
	 background: #fff 75;
}
 .section-b {
	 background: #000;
	 height: 100vh;
	 flex-direction: column;
}
 .section-b h1 {
	 padding: 20px;
	 transform: none;
	 text-align: left;
	 letter-spacing: 0;
	 text-transform: none;
	 border-bottom: 2px solid white;
	 width: 100%;
}
 .section-b .news-card {
	 width: 90%;
	 background-color: #424744;
	 margin-top: 10px;
	 flex-grow: 1;
	 padding: 0;
}
 .section-b .news-card .poster {
	 width: 100%;
	 transition: all 0.5s;
	 flex: 1;
	 height: 100%;
	 background-image: url('//picsum.photos/1920/1080');
	 background-attachment: initial;
}
 .section-b .news-card .text {
	 padding: 0 25px;
	 color: white;
	 font-size: 1rem;
	 flex: 1;
	 text-align: center;
}
 .section-c {
	 margin-top: 50px;
	 background-image: linear-gradient(#212422 15%, transparent 60%), linear-gradient(#212422 10%, transparent 80%), linear-gradient(#212422 5%, transparent 100%), url('//picsum.photos/1920/1080');
	 background-attachment: initial !important;
	 background-color: #8d9990;
	 background-blend-mode: multiply;
	 flex-direction: column;
}
 .section-c h1 {
	 font-size: 2.5rem;
	 padding: 20px 0;
}
 .section-c .content {
	 width: 100%;
	 flex-grow: 1;
	 flex-wrap: wrap;
}
 .section-c .content * {
	 border: 1px solid white;
}
 .section-c .content .card {
	 flex-direction: column;
	 margin: 50px;
	 height: 500px;
	 width: 300px;
}
 .section-c .content .card * {
	 width: 100%;
}
 .section-c .content .card .profile {
	 background-image: url('//picsum.photos/1920/1080');
}
 .section-c .content .card h2 {
	 flex-grow: 1;
}
 .section-c .content .card .text {
	 flex-grow: 2;
	 padding: 0 20px;
	 text-align: justify;
}
 .section-c .content .card .profile {
	 flex-grow: 5;
}
 .section-d {
	 height: 50vh;
	 background: black;
	 flex-direction: column;
}
 .section-d * {
	 color: white;
	 flex-direction: column;
}
 .section-d .part1 {
	 flex-direction: row;
	 flex-grow: 2;
	 width: 90%;
	 justify-content: space-evenly;
}
 .section-d .part1 .link-tile h2 {
	 margin-bottom: 10px;
}
 .section-d .part1 .link-tile a {
	 color: gray;
	 transition: 0.5s;
}
 .section-d .part1 .link-tile a:hover {
	 color: white;
	 text-decoration: underline;
}
 .section-d .part2 {
	 flex-grow: 1;
	 flex-direction: initial;
	 justify-content: space-between;
	 width: 90%;
}
 .section-d .part2 .copyright-msg {
	 text-align: center;
	 font-style: italic;
}
 .section-d .part2 .social-links {
	 flex-grow: 1;
	 justify-content: space-evenly;
	 flex-direction: initial;
}
 @media (width >= 1000px) {
	 .off-menu {
		 left: -40%;
	}
}
 @media (width < 1000px) and (width > 600px) {
	 .off-menu {
		 width: 40%;
		 left: -40%;
	}
}
 @media (width < 1000px) {
	 .ham-menu {
		 display: flex !important;
	}
	 .nav-content {
		 display: none;
	}
	 .section-d {
		 height: 80vh;
	}
	 .section-d * {
		 flex-direction: column !important;
	}
	 .section-d .social-links {
		 justify-content: space-evenly;
		 flex-grow: 1;
		 width: 100%;
		 flex-direction: row !important;
		 flex-wrap: wrap;
	}
}
 @media (width < 600px) {
	 .off-menu {
		 width: 75%;
		 left: -75%;
	}
	 .section h1 {
		 font-size: 2.5rem;
	}
	 .section p {
		 font-size: 1.25rem;
	}
	 .section-b {
		 height: 150svh;
	}
	 .news-card {
		 flex-direction: column;
	}
	 .news-card .text {
		 margin: 20px 0;
		 display: flex;
		 justify-content: center;
		 align-items: center;
	}
}
 
