*{
	margin: 0;
	padding: 0;
	transition: 1s;
	font-size: 20px;
	font-family: sans-serif;
}
	
/* 						NAV-BAR 						 */
li{
	list-style: none;
	font-weight: 600;
	display: inline;
}
.logo-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav{
	display: grid;
	grid-template-columns: 10% 90%;
	background: #284b63;
	padding: 20px;
}
.logo{
	display: inline;
	vertical-align: middle;
}
.ham-menu{
	display: none;
}
.links{
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* 								MENU-BAR 						 */
.menu-bar{
	display: none;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(2px);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.menu{
	width: 45%;
	border-radius: 0 10px 10px 0;
	background: #d9d9d9;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}
.appear{
	display: block;
}
.menu li{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cancel{
	position: absolute;
	top: 4%;
	right: 4%;
}
.menu li:hover{
	background: #eee;
}

/* 						MAIN-SECTION									 */
.main-section{
	font-weight: 900;
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #aaa;
	background-image: url('https://wallpaperaccess.com/full/1209477.jpg');
	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;
	height: calc(100vh - 90px);
	color: white;
}
.awrd-img{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-section > h1{
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	line-height: 90%;
	font-size: 450%;
}


/* 								MEDIA-QUERY							  */
@media (width <= 1150px){
	.main-section{
		display: grid;
		grid-template-row: auto auto;
		font-size: 75%;
		padding: 0 10%;
	}
}
@media (width <= 900px){
	.main-section{
		font-size: 50%;
		
	}
	.main-section > h1{
		align-items: flex-start;
		height: 100%;
		width: 100%;
	}
	.award{
		height: 300px;
	}
	.links{
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.ham-menu{
		display: block;
	}
	nav{
		grid-template-columns: auto;
	}
	.menu{
	width: 100%;
	background: #d9d9d9;
	height: 100%;
	}
}
