$color1: #6f736f;
$color2: #1f211f;

*{
	user-select: none;
	font-size: 20px;
	font-family: Verdana;
	margin: 0;
	padding: 0;
}
:link, :visited ,:active{
	text-decoration: none;
	color: white;
}

// 				UTILITY CLASS 			//
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

// 						TOP						//

.top-btn{
	cursor: pointer;
	display: none;
	position: fixed;
	height: 50px;
	width: 50px;
	bottom: 10px;
	right: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	background-color: $color2;
	opacity: 0.5;
	z-index: 1;
	transition: .5s;
	
	&:hover{
		opacity: 1;
	}
	.block1{
		height: 5px;
		border-radius: 5px;
		width: 20px;
		transform: translateX(4.5px) rotateZ(-45deg);
		background-color: white;
	}
	.block2{
		height: 5px;
		border-radius: 5px;
		width: 20px;
		transform: translateX(-4.5px) rotateZ(45deg);
		background-color: white;
	}
	
}


// 					NAVIGATION BAR 		     //			
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, 0.25);
	color: white;
	backdrop-filter: blur(5px);
	height: 100px;
	
	.logo-box{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.links{
		display: flex;
		flex-grow: 1;
		justify-content: space-evenly;
		align-items: center;
		
		li{
			list-style: none;
			text-transform: uppercase;
			
			&:after{
				transition: 0.5s;
				content: '';
				display: block;
				height: 5px;
				border-radius: 5px;
				width: 0%;
				background: white;
				transform: translateY(50%);
				margin: auto;
			}
			&:hover{
				&:after{width: 100%;}
			}
		}
		
	}
	
}

// 					SECTION 1 				 //

.section-1{
	height: 100dvh;
	background-color: $color1;
	background-image: url('https://picsum.photos/1920/1080?random=1');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	display: flex;
	background-blend-mode: multiply;
	flex-direction: column;
	justify-content: space-between;
	
	.slogan{
		flex-grow: 1;
		font-weight: 100;
		font-size: 50px;
		text-align: center;
		height: 100%;
		color: white;
		padding: 10%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		span{
			display: block;
			font-size: 25px;
			font-style: italic;
		}
		
		.btn{
			transition: 0.15s;
			margin-top: 20px;
			border: 1px solid white;
			padding: 10px;
			font-size: 25px;
			font-weight: 1000;
			text-transform: uppercase;
			background: transparent;
			color: white;
			backdrop-filter: blur(5px);
			&:hover{
				cursor: pointer;
				border: 1px solid white;
				transform: scale(1.1);
			}
		}
	}
}


// 					SECTION 2						//
.section-2{
	height: 100dvh;
	overflow: hidden;
	display: flex;
	background-color: $color2;
	flex-direction: column;
	justify-content: space-between;
	
	h1{
		border-top: 10px solid white;
		text-align: center;
		color: white;
		text-transform: uppercase;
		letter-spacing: 10px;
		padding: 25px 0;
		font-size: 35px;
		font-weight: 100;
	}
	
	.about{
		display: grid;
		place-items: center;
		grid-template-columns: 1.5fr 2fr;
		flex-grow: 1;
		
		.image-box{
			background: url('https://picsum.photos/1920/1080?random=2');
			background-attachment: fixed;
			background-size: cover;
			width: 100%;
			background-position: center;
			height: calc(100% - 1px);
			border-right: 1px solid white;
			border-top: 1px solid white;
			border-bottom: 1px solid white;
		}
		
		.text-box{
			p{
				font-family: sans-serif;
				color: white;
				padding: 20px;
				font-size: 15px;
				font-weight: 100;
			}
		}
		
	}
}


// 					SECTION 3						//
.section-3{
	height: 100dvh;
	display: flex;
	background-color: $color2;
	flex-direction: column;
	justify-content: space-between;
	
	h1{
		border-top: 10px solid white;
		text-align: center;
		color: white;
		text-transform: uppercase;
		letter-spacing: 10px;
		padding: 25px 0;
		font-size: 35px;
		font-weight: 100;
	}
	
	.course-cards{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		
		.cards{
			transition: 0.5s ease-out;
			height: 100%;
			background-color: $color1;
			background-blend-mode: multiply;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			font-size: 25px;
			font-weight: 500;
			justify-content: space-evenly !important;
			color: white;
			flex-direction: column;
			flex: 1;
			span{
				padding: 0 20px;
				display: none;
				opacity: 0;
				font-size: 1px;
				font-weight: 100;
				text-align: justify;
				font-family: sans-serif;
			}
		}
			.a{
				background-image: url('https://picsum.photos/1920/1080?random=3');
				&:hover{
					flex: 2;
					background-image:url('https://picsum.photos/1920/1080?random=3'),  linear-gradient(180deg, transparent, $color2);
					span{
						opacity: 1;
						font-size: 15px;
						display: block;
					}
				}
			}
			.b{
				background-image: url('https://picsum.photos/1920/1080?random=4');
				&:hover{
					flex: 2;
					background-image:url('https://picsum.photos/1920/1080?random=4'),  linear-gradient(180deg, transparent, $color2);
					span{
						opacity: 1;
						font-size: 15px;
						display: block;
					}
				}
			}
			.c{
				background-image: url('https://picsum.photos/1920/1080?random=5');
				&:hover{
					background-image:url('https://picsum.photos/1920/1080?random=5'),  linear-gradient(180deg, transparent, $color2);
					flex: 2;
					span{
						font-size: 15px;
						opacity: 1;
						display: block;
					}
				}
			}
			.d{
				background-image: url('https://picsum.photos/1920/1080?random=6');
				&:hover{
					flex: 2;
					background-image:url('https://picsum.photos/1920/1080?random=6'),  linear-gradient(180deg, transparent, $color2);
					span{
						opacity: 1;
						font-size: 15px;
						display: block;
					}
				}
			}
	}
}

// 					SECTION 4						//
.section-4{
	flex-direction: column;
	height: 100dvh;
	background-color: $color2;
	background-image: url('https://picsum.photos/1920/1080?random=7');
	background-blend-mode: overlay;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	
	h1{
		border-top: 10px solid white;
		background: rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(5px);
		width: 100%;
		text-align: center;
		color: white;
		text-transform: uppercase;
		letter-spacing: 10px;
		padding: 25px 0;
		font-size: 35px;
		font-weight: 100;
	}
	.fac-cards{
		justify-content: space-evenly;
		align-items: space-evenly;
		height: 100%;
		width: 100%;
		flex-grow: 1;
		flex-wrap: wrap;
		
		.card{
			height: 200px;
			font-size: 30px;
			font-weight: 200;
			color: white;
			width: 200px;
			flex-direction: column;
			border: 1px solid white;
			position: relative;
			span{
				font-weight: 100;
				font-style: italic;
			}
			.profile-img{
				height: 100px;
				width: 100px;
				border-radius: 100%;
				position: absolute;
				border: 1px solid white;
				top: -50px;;
				
			}
			.a{
					background-image: url('https://picsum.photos/100/100?random=8');
				}
				.b{
					background-image: url('https://picsum.photos/100/100?random=9');
				}
				.c{
					background-image: url('https://picsum.photos/100/100?random=10');
				}
		}
		
	}
	
}


// 					SECTION 5						//
.section-5{
	flex-direction: column;
	height: 100dvh;
	background-color: $color2;
	
	
	h1{
		font-weight: 1000;
		width: 100%;
		text-align: center;
		color: white;
		text-transform: uppercase;
		letter-spacing: 10px;
		padding: 25px 0;
		font-size: 35px;
		border-top: 10px solid white;
	}
	.contact{
		flex-direction: column;
		flex-grow: 1;
		background-color: $color2;
		background-image: url('https://picsum.photos/1920/1080?random=11');
		background-blend-mode: overlay;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		background-opacity: 0.4;
		width: 100%;
		p{
			font-size: 30px;
			font-weight: 1000;
			margin: 10px;
			color:  white;
			span{
				font-weight: 100;
				font-size: 30px;
			}
		}
	}
}



::-webkit-scrollbar {
    display: none;
}

